/*.col-centered{
    float: none;
    margin: 0 auto;
}*/

.row-centered {
    text-align: center;
}


.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

#pattern-box {
    background-color: #f9f9f9;
    border: 2px solid #ccccccde;
    border-radius: 15px !important;
    padding: 50px 15px;
    margin: 20px 0;
    -webkit-box-shadow: -4px 9px 7px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: -4px 9px 7px -5px rgba(0,0,0,0.57);
    box-shadow: -4px 9px 7px -5px rgba(0,0,0,0.57);
}

#pattern-box .form-control {
    border-color: #999 !important;
}

#pattern-box input[readonly] {
    background-color: #000000 !important;
    color: #F1F1F1;
    text-align: center;
}